<!DOCTYPE html>
<html>

<head>

  <script src="static/js/p5.min.js"></script>
  <script language="javascript" type="text/javascript" src="static/js/p5.serialport.js"></script>
  <script src="static/js/p5.dom.min.js"></script>
  <script src="static/js/p5.sound.min.js"></script>
  <script src="static/js/filesaver.min.js"></script>
  <script language="javascript" type="text/javascript" src="static/js/p5.dom.js"></script>
  <link rel="stylesheet" type="text/css" href="static/style/style.css">
</head>

<body>

  <script src="static/js/sketch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</body>

</html>
